[submodule "build-infra"]
	path = build-infra
	url = git@github.com:Metaswitch/clearwater-build-infra.git
[submodule "modules/cpp-common"]
	path = modules/cpp-common
	url = git@github.com:Metaswitch/cpp-common.git
