[submodule "build-infra"]
	path = build-infra
	url = git@github.com:Metaswitch/clearwater-build-infra.git
[submodule "modules/cpp-common"]
	path = modules/cpp-common
	url = git@github.com:Metaswitch/cpp-common.git
[submodule "modules/curl"]
	path = modules/curl
	url = git@github.com:bagder/curl.git
[submodule "modules/c-ares"]
	path = modules/c-ares
	url = git@github.com:bagder/c-ares.git
[submodule "modules/rapidjson"]
	path = modules/rapidjson
	url = git@github.com:miloyip/rapidjson.git
[submodule "modules/libevhtp"]
	path = modules/libevhtp
	url = git@github.com:Metaswitch/libevhtp.git
[submodule "modules/sas-client"]
	path = modules/sas-client
	url = git@github.com:Metaswitch/sas-client.git
[submodule "modules/gmock"]
	path = modules/gmock
	url = git@github.com:Metaswitch/gmock-upstream.git
[submodule "modules/gcovr"]
	path = modules/gcovr
	url = git@github.com:gcovr/gcovr.git
