[submodule "build-infra"]
	path = build-infra
	url = git@github.com:Metaswitch/clearwater-build-infra.git
[submodule "modules/cpp-common"]
	path = modules/cpp-common
	url = git@github.com:Metaswitch/cpp-common.git
[submodule "modules/curl"]
	path = modules/curl
	url = git@github.com:bagder/curl.git
[submodule "modules/c-ares"]
	path = modules/c-ares
	url = git@github.com:bagder/c-ares.git
[submodule "modules/rapidjson"]
	path = modules/rapidjson
	url = git@github.com:miloyip/rapidjson.git
