Source: chronos
Section: network
Priority: optional
Maintainer: Project Clearwater Maintainers <maintainers@projectclearwater.org>
Build-Depends: debhelper (>= 8.0.0), devscripts, build-essential, libboost-program-options-dev, libcurl4-openssl-dev, libevent-dev, libboost-regex-dev, libboost-filesystem-dev, libsnmp-dev
Standards-Version: 3.9.2
Homepage: http://github.com/Metaswitch/chronos

Package: chronos
Architecture: any
Depends: clearwater-infrastructure, libboost-program-options1.54.0, libboost-regex1.54.0, libboost-filesystem1.54.0, libevent-2.0-5, libevent-pthreads-2.0-5, libc-ares-dev, clearwater-log-cleanup, libsnmp30 (>= 5.7.2~dfsg-clearwater6), snmp (>= 5.7.2~dfsg-clearwater6), libsnmp-base (>= 5.7.2~dfsg-clearwater6), clearwater-snmpd, clearwater-monit, clearwater-queue-manager, clearwater-config-manager
Description: Distributed, redundant network timer service.

Package: chronos-dbg
Architecture: any
Section: debug
Priority: extra
Depends: chronos (= ${binary:Version}), gdb
Description: Debugging symbols for Chronos.
