#!/usr/bin/make -f

export DH_OPTIONS

%:
	dh $@

# Don't clean, build, test or install
override_dh_auto_clean:
override_dh_auto_build:
override_dh_auto_test:
override_dh_auto_install:
	mkdir debian/tmp
 
override_dh_installinit:
	dh_installinit -u"defaults 70 30"

override_dh_shlibdeps:
override_dh_strip:
	dh_strip -pchronos --dbg-package=chronos-dbg
